.hform{
  height: 160px;
}

.suf{
  width: 150px;
}

.si{
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.2);
  font-weight: bold;
  color: #2B2B2B;
  padding: inherit;
  padding: 12px 20px 12px 3px;
}
.si i{
  color: #006DAA;
}
.desc h2{
  font-size: 32px;
}
i{
  width: 30px;
}
.desc{
  font-size: 26px;
}

.list:hover{
  cursor: pointer;
  font-weight: bold;
  color: #2B2B2B;
}

.list:hover i{
  color: #006DAA;
}

.styleimage{
  width:49.48vw;
  height:27.1vw;
  min-width: 300px;
  min-height: 165px;
  background-color: white;
}

.ourcolor{
  color: #F95738;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.ourtext{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #006DAA;
}

.ourbutton{
  background-image: linear-gradient(to right, #f28145 , #f95738);
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
}

.infohead{
  font-size: 2.2vw;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  color: #006DAA;
}

.infosubhead{
  font-size: 1.4vw;
  font-weight: lighter;
}

.inforow{
  margin: 3.9vw;
}

.infodiv{
  text-align: left;
  margin: 75px 17px;
}

.clearoverflow{
  overflow-x: visible;
}

.mainimg{
  width: 40.73vw;
  height: 30.28vw;
  margin: 0px 50px 30px 0px;
}

.inf{
  height: 80vh;
}

@media (max-width: 780px){
  .inf{
    height: auto;
  }
  .mainimg{
    width: 300px;
    height: 224px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
  }
  .hform{
    height: 330px;
  }
  .inforow{
    margin: 36px 10px;
  }
  .suf{
    width: 165px;
  }
  .redheight{
    height: 150px;
  }
  .redheight2{
    height: 100px;
  }
  .infosubhead{
    font-size: 17px;
  }
  .infohead{
    padding-top: 50px;
    font-size: 24px;
  }
  .infodiv{
    text-align:center;
    padding: 0px;
    margin: 0px;
  }
  .inputbox{
    margin-bottom: 20px;
  }
  .styleimage{
    width:49.48vw;
    height:27.1vw;
    min-width: 270px;
    min-height: 148px;
  }
  .si{
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.2);
    font-weight: bold;
    color: #2B2B2B;
    padding: 5px;
  }
  .si i{
    color: #006DAA
  }
  .desc h2{
    padding-top: 20px;
    font-size: 22px;
  }
}
